<h2><%= @service.name %></h2>
<%= link_to @service.professional do %>
  <%= image_tag( @service.picture.storage_key, width: "150" ) if @service.picture.present? %><br>
  by: <%= @service.professional.username %>
<% end %>