<h1>Professionals</h1>
<% @professionals.each do |professional| %>
  --------------------------------------<br>
  username: <%= professional.username %><br>
  first_name: <%= professional.first_name %>
  <br><b>services:</b> <% professional.services.each do |service| %>
    <li>service name: <%= service.name %> </li>
  <%end%>
  <br>
<%end%>