/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap.min
 *= require_tree .
 */
 *= require bootstrap


div {
    display: block;
}

body {
       margin: 0;
       padding: 0;
       background: #EEE;
       font: 10px/13px 'Lucida Sans',sans-serif;
}
hr {
  width: 65%;

}

/* Header */ 
.header-cont {
    width: 101%;
    position:fixed;
    top:0px;
    z-index: 10;
    margin: -5px;
    padding: 0px;
}

.header {
    height:120px;
    background: #F2F1F1; 
    width: 101%;
    margin-left: -5px;
    padding: 0px;
    z-index: 10;
    border-bottom: 2px white solid;
}


.smallLogo{
    position: absolute;
    top:30%;
    left: 5%;
    width:170px;
}

.userAvatar {
    position: absolute;
    top:25%;
    left: 87%;
    width:100px;

}

.userAvatarBig {
    position: absolute;
    top:30%;
    left: 40%;
    width:275px;
}

#main {
    border-top: 10px #494949 solid;
    padding: 0 5px;
}

#main {
  background-image: url("http://lorempixel.com/output/abstract-q-c-1056-480-1.jpg");
  border-top: 10px #494949 solid;
  padding-top: 10px;
  width:100%;
  height: 550px;
}

#mainProf {
  background: #EDEDED;
  border-top: 10px #494949 solid;
  padding-top: 10px;
  width:100%;
  height: 550px;
}

#username {
    position: absolute;
    top:75%;
    color:#404040;
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
}

/* Carousel */ 
.slider {
  margin: 1px 0;
  /*width: 200%; */
  height: 600px; /* Update to your slider height */
  position: relative;
  overflow: hidden;
  max-width: 100%;
  margin: 0 auto;
}

.slider li {
  display: none;
  position: absolute; 
  top: 0; 
  left: 0; 
}


/* Grid */


.wrap {
  overflow: hidden;
  margin-right: 25px;
  margin-left: 25px;
  margin-top:20px;
}
.box {
  float: left;
  position: relative;
  width: 33.3%;
  padding-bottom: 33.3%;
}
.boxInner {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  overflow: hidden;
}
.boxInner img {
  width: 100%;
}
.titleBox {
  position: absolute;
  bottom: 0;
  left: 2%;
  right: 0;
  width:100%;
  height:100%;
  margin-bottom: -50px;
  background: #000;
  background: rgba(0, 0, 0, 0.5);
  color: #FFF;
  padding: 10px;
  text-align: center;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

body.no-touch .boxInner:hover .titleBox, body.touch .boxInner.touchFocus .titleBox {
  margin-bottom: 0;
}


.box #overlay {
  background: rgba(0,0,0,.75);
  height: 100%;
  width: 100%;
  opacity: 0;
  top: 10px;
  left: 10px;
  position: relative;
  padding: 0;
  transition: opacity .5s;
}


#textdiv {
  padding-top: 115px;



}
.box #overlay p {
  color: #fff;
  font-size: 20px;
  font-family: 'arial';
  text-align: center;
}
.box:hover #overlay {
  opacity: .9;
  transition: opacity .5s;
}